   body {
    background-image: url('fon.jpg'); /* Цвет фона и путь к файлу */
    color: #fff; /* Цвет текста */
   }
   .field{
			display: inline-block;
			border: 2px solid #694626;
			width: 50px;
			height: 50px;
			position: absolute;
			cursor:pointer;
			background:#CDB287
		}

	.field-dead{
		background-image:url('field-hit.jpg');
		cursor:default;
	}

	.field-empty{
		background-image:url('field-away.jpg');
		cursor:default;
	}

	#map{
		position: absolute; /* Абсолютное позиционирование */
	     width: 550px; /* Ширина слоя в процентах */
	     height: 500px; /* Высота слоя в процентах */
	     left: 300px; /* Положение слоя от левого края */
	     top: 200px; /* Положение слоя от верхнего края */
	    
	}

	#table{
		position: absolute; /* Абсолютное позиционирование */
	    width: 550px; /* Ширина слоя в процентах */
	    height: 550px; /* Высота слоя в процентах */
	    left: 250px; /* Положение слоя от левого края */
	    top: 150px; /* Положение слоя от верхнего края */
	    font-family: sans-serif;
	    font-size: 35px;
	    font-weight: 520;
	    color: #382515;
	}
	

	#content{
		position: relative; /* Абсолютное позиционирование */
	    width: 300px; /* Ширина слоя в процентах */
	    height: 400px; /* Высота слоя в процентах */
	    left: 1100px; /* Положение слоя от левого края */
	    top: 100px; /* Положение слоя от верхнего края */
	    font-family: sans-serif;
	    font-size: 20px;
	    font-weight: 520;
	    color: #382515;
	    text-align: justify;
	    /*background: #fff;*/
	}
	
