   body {
    background-image: url('fon.jpg'); 
   }
   .field{
		display: inline-block;
		border: 2px solid #694626;
		width: 50px;
		height: 50px;
		position: absolute;
		cursor:pointer;
		background:#CDB287
		}

	.field-dead{
		background-image:url('field-hit.jpg');
		cursor:default;
	}

	.field-empty{
		background-image:url('field-away.jpg');
		cursor:default;
	}
	.cursor{
		cursor: default;
	}

	#map{
		position: absolute; 
	    width: 550px; 
	    height: 500px; 
	    left: 300px; 
	    top: 200px; 
	    
	}

	#table{
		position: absolute; 
	    width: 550px;
	    height: 550px;
	    left: 250px;
	    top: 150px;
	    font-family: sans-serif;
	    font-size: 35px;
	    font-weight: 520;
	    color: #382515;
	}
	

	#content{
		position: relative;
	    width: 300px; 
	    height: 400px;
	    left: 1100px;
	    top: 100px;
	    font-family: sans-serif;
	    font-size: 20px;
	    font-weight: 520;
	    color: #382515;
	    text-align: justify;
	}
	
